{% extends "bieumau.html" %}
{% block content %}
  <script type="text/javascript">
    var colorList = []; alreadyShow = false;
    function loadColorCode(){
      $('button[id^=colorCode_]').each(function(){
        var btn_name = $(this).attr('id');
        var post = btn_name.indexOf('_');
        colorList.push(btn_name.substr(post+1, btn_name.length - post));
      });
    }
    function getColorCode(pictureID){
      for (i=0; i<colorList.length; i++){
        if (pictureID.indexOf(colorList[i])>0){
          return colorList[i];
        }
      }
    }
    function processPicture(pictureID){
      if (colorList.length == 0)  { loadColorCode();}
      for (i=0; i<colorList.length; i++){
        $('#pict_' + colorList[i]).hide();
      }
      console.log(pictureID);
      $('#pict_' + getColorCode(pictureID)).show();
    }
  </script>
  {% load static %}
  <div class="row">
    <div class="col-sm-5">
      <span class="myHeader"><p class="text-xl-left py-2">
  				<strong><h3>Màu xe
            {% for key, value in webParam.webData.data.items %}
            <button type="button" class="btn btn-outline-danger btn-sm" id="colorCode_{{key}}" onmouseover="processPicture(this.id);" onclick="showPicture(this.id);" onmouseout="processPicture(this.id);">{{ value.colorName }}</button>
            {% endfor %}
          </h3></strong>
      </p></span>
      {% for key, value in webParam.webData.data.items %}
      <img class="card-img-top" style="display: None" src="{% static "images/Models/"%}{{value.picture}}" id="pict_{{key}}">
      {% endfor %}
    </div>
      <div class="col-sm-7">
      <span class="myHeader">
  			<p class="text-xl-left py-2">
  				<strong><h3>Thông số kỹ thuật</h3></strong>
  			</p>
  		</span>
      <table class="table table-striped table-bordered table-hover table-sm">
        <tbody>
          {% for key, value in webParam.webData.spec.items %}
          <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
