{% extends "bieumau.html" %}
{% block content %}
  {% load static %}
  <div class="row px-3">
  {% for key, value in webParam.webData.items %}
  <div class="col-sm-3 py-3">
    <div class="card">
        <img class="card-img-top" src="{% static "images/Models/"%}{{value.picture}}"  alt="{{ value.picture }}">
        <div class="card-body">
          <h5 class="card-title">{{ value.name }}</h5>
          <p class="card-text">Giá từ: {{ value.price }}</p>
          <a href="{% url 'theoDoixe' doiXe=key %}" class="btn btn-primary">Xem chi tiết</a>
        </div>
    </div>
  </div>
  {% endfor %}
  </div>
{% endblock %}
