{% extends "bieumau.html" %}
{% block content %}
<div class="row">
  <div class="col-sm-3 py-3"></div>
  <div class="col-sm-6 py-3">
    <div class="myHeader pb-2"><h3><b>Thông tin đăng ký dịch vụ</b></h3></div>
    {% csrf_token %}
    <div class="form-group row">
        <label for="customerName" class="col-sm-3">Tên thường gọi</label>
        <div class="col-sm-9">
          <input id="customerName" class="form-control" placeholder="Nhập tên thường gọi của quý khách" value="Phuong">
          <small class="text-muted"><span class="text-danger" id="errorcustomerName" style="display: none">
            Tên của quý khách chưa được nhập
          </span></small>
        </div>
    </div>
    <div class="form-group row">
        <label for="phoneNumber" class="col-sm-3">Số điện thoại</label>
        <div class="col-sm-9">
          <input id="phoneNumber" class="form-control" placeholder="Nhập số điện thoại để nhân viên liên hệ" value="1234567890">
          <small class="text-muted"><span class="text-danger" id="errorphoneNumber" style="display: none">
            Số điện thoại nhập không phù hợp hoặc không đúng
          </span></small>
        </div>
    </div>
    <div class="form-group row">
      <label for="modelName" class="col-sm-3">Loại xe</label>
      <div class="col-sm-9">
        <select class="form-control" id="modelName">
          <option disabled selected value="">Chọn loại xe cần sữa chửa</option>
          {% for eachModel in webParam.modelList %}
          <option value="{{ eachModel }}">{{ eachModel }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="ngayHen" class="col-sm-3">Lịch hẹn</label>
      <div class="col-sm-9">
        <div class="form-group row">
          <div class="col-md-6 col-sm">
            <select class="form-control" id="ngayHen" onchange="getGioHen();">
              <option disabled selected value="">Chọn ngày</option>
              {% for eachDate in webParam.webData %}
              <option value="{{eachDate}}" >{{ eachDate }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-md-6 col-sm">
            <select class="form-control" id="gioHen">
              <option disabled selected value="">Chọn giờ</option>
            </select>
          </div>
        </div>
        <small class="text-muted"><span class="text-danger" id="errorDateTime" style="display: none">
          Ngày hẹn và giờ hẹn chưa được chọn
        </span></small>
      </div>
    </div>
    <div class="form-group row">
      <label for="mechName" class="col-sm-3">Kỹ thuật viên</label>
      <div class="col-sm-9">
        <input id="mechName" class="form-control" placeholder="Tên kỹ thuật viên mong muốn" value="Hy">
        <small class="text-muted"><span class="text-primary" style="display: block">
          Tên kỹ thuật viên có thể nhập hoặc không
        </span></small>
      </div>
    </div>
    <div class="form-group row">
      <label for="symptomDescription" class="col-sm-3">Hiện tượng</label>
      <div class="col-sm-9">
        <textarea id="symptomDescription" class="form-control" row="7" placeholder="Mô tả hiện tượng hư hỏng của xe để kỹ thuật viên có hướng khắc phục trước"></textarea>
        <small class="text-muted"><span class="text-primary" style="display: block">
          Hiện tượng mô tả càng chi tiết càng tốt sẽ giúp rút ngắn thời gian sửa chữa tại cửa hàng.
        </span></small>
      </div>
    </div>
    <div class="form-group row">
      <label for="partList" class="col-sm-3">Phụ tùng dự kiến sẽ thay</label>
      <div class="col-sm-9">
        <textarea id="partList" class="form-control" row="3" placeholder="Nhập vào tên của những phụ tùng dự định sẽ thay thế để nhân viên có thể chuẩn bị trước"></textarea>
        <small class="text-muted"><span class="text-primary" style="display: block">
          Danh sách phụ tùng càng rõ ràng thì việc báo giá càng chính xác
        </span></small>
      </div>
    </div>
    <div class="myHeader pb-2">
      <div class="form-check">
        <label class="form-option-label py-2 pull-right">
          <input class="form-check-input" type="checkbox" id="addPictures" onclick="showPictures();">Gởi hình ảnh (tối đa 4 hình)
        </label>
      </div>
    </div>
    {% for row in '12' %}
      <div class="card-group pb-3" id="{{row}}" style="display:none">
        {% for col in '12' %}
        <div class="card px-1 " style="border: none;">
          <img class="card-img-top" id="{{row}}{{col}}_img" height="200" style="object-fit:contain; border: none">
          <div class="card-body p-1">
            <button class="btn revMyHeader btn-block btn-sm" onclick="$('#{{row}}{{col}}_file').click()">Hình ảnh chi tiết hư hỏng ...</button>
            <input class="form-control" type="file" id="{{row}}{{col}}_file" accept="image/*" style="display: none;" onchange="showImage(this);">
            <input class="form-control" type="file" id="{{row}}{{col}}_f" accept="image/*">
          </div>
        </div>
        {% endfor %}
      </div>
    {% endfor %}
    <button type="button" class="btn btn-primary btn-block btn-lg" id="btnGoilichHen" onclick="goiLichHen();">Gởi thông tin lịch hẹn</button>
  </div>
</div>
<!-- Xác nhận cuộc hẹn sửa chữa -->
<div class="modal" tabindex="-1" role="dialog" id="xacnhanLichhen">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xác nhận lịch hẹn</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="xacnhNoidung">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="dangkyLichHen();">Gởi lịch hẹn</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Làm lại</button>
      </div>
    </div>
  </div>
</div>
<!-- Báo lỗi cuộc hẹn sửa chữa -->
<div class="modal" tabindex="-1" role="dialog" id="errorHenLich">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Kết quả đăng ký</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="noidungKetqua">
      </div>
      <div class="modal-footer">
        <button type="button" id="btnClose" class="btn btn-secondary" data-dismiss="modal">Đóng thông báo</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
