{% extends "bieumau.html" %}
{% block content %}
{% load static %}
<script src="{% static webParam.jsFile %}"></script>
{% csrf_token %}
<div class="row py-1">
  <div class="col-sm-3">
    <select class="form-control" id="bookingType">
      <option value="0">Tất cả các cuộc hẹn</option>
      <option selected value="1">Các cuộc hẹn chưa xác nhận</option>
      <option value="2">Các cuộc hẹn đã xác nhận</option>
    </select>
  </div>
  <div class="col-sm-3">
    <button type="button" class="btn btn-primary" id="btnShowBook" onclick="showBooking();">Hiển thị danh sách</button>
  </div>
  <div class="col-sm-3">
  </div>
</div>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Tên khách hàng</th>
      <th scope="col">Số điện thoại</th>
      <th scope="col">Loại xe</th>
      <th scope="col">Ngày hẹn</th>
      <th scope="col">Giờ hẹn</th>
      <th scope="col">Tình trạng</th>
    </tr>
  </thead>
  <tbody id="tableBodyData">
  </tbody>
</table>
{% endblock %}
