  {% for id, dict in result.items %}
  <tr id="{{id}}_all">
    <th scope="row"><a href='#' id="{{id}}" onclick="showDetail(this.id);">{{id}}</a></th>
    {% for key, val in dict.items %}
      {% if not "confm" in key %}
        <td id="{{id}}_{{key}}">{{val.1}}</td>
      {% else %}
        <td>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="{{id}}_{{key}}" {% if val.1 %} checked disabled {% endif %} onclick="changeStatus(this.id);">
            <label class="form-check-label" id='{{id}}_{{key}}'>
              {% if val.1 %}Rồi{% else %}Chưa{% endif %}
            </label>
          </div>
        </td>
      {% endif %}
    {% endfor %}
  </tr>
  {% endfor %}
