{% extends "bieumau.html" %}
{% block content %}
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6 py-5">
    <h5 style="color: blue; padding-bottom: 15px;">Thành viên muốn đăng xuất, vui lòng xác nhận</h5>
    <div class="py-3">
      <button type="button" class="btn btn-danger btn-block btn-lg py-3" id="btnXacnhanDangxuat" onclick="dangxuat();">Xác nhận</button>
    </div>
    <div class="py-3">
      <button type="button" class="btn btn-primary btn-block btn-lg py-3" onclick="huyDangxuat();">Trả lại trang cá nhân</button>
    </div>
  </div>
</div>
{% endblock %}
